.result-container .jumbotron{
  height: 520px;
}

h2 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}
.list-employees{
  height: 370px;
  overflow-y: scroll;
}
.list-mutuals table{
  text-transform: capitalize;
}
