<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Paranuara</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body class="container">
    <header>
      <% include ../components/navbar %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Sorry we did not find it...</h1>
            <p>Are you sure of your request ?</p>
        </div>
    </main>
    <footer>
      <% include ../components/footer %>
    </footer>
  </body>
</html>
